// Colors
/*
* Static color-palette
*/
// $color-bright: #c7f0db;
// $color-mid-bright: #8bbabb;
// $color-mid-dark: #6c7b95;
// $color-dark: #464159;
// $color-accent: #e9c80a;

/*
* Automatic palette-generation via Sass
* If you use this, don't forget to comment out the static palette above
* You can set the generation-variables for adjusting the results
*/
$color-base: #8bbabb;
$color-bright-lightness-scale: 50%;
$color-mid-dark-lightness-scale: -50%;
$color-dark-lightness-scale: -77.5%;
$color-dark-desaturate-level: 15%;
$color-accent-hue-degree: 180deg;

$color-bright: scale-color($color-base, $lightness: $color-bright-lightness-scale);
$color-mid-bright: $color-base;
$color-mid-dark: scale-color($color-base, $lightness: $color-mid-dark-lightness-scale);
$color-dark: desaturate(scale-color($color-base, $lightness: $color-dark-lightness-scale), $color-dark-desaturate-level);
$accent-color: scale-color(saturate(adjust-hue($color-mid-dark, $color-accent-hue-degree), 100%), $lightness: 35%);
