// ! ================= Utility Classes =================================
.hide {
	display: none !important;
}

.opacity1 {
	opacity: 1 !important;
}

.opacity0 {
	opacity: 0 !important;
}

.highlight {
	color: $accent-color;
}

.hideOnPrint {
	@media print {
		display: none !important;
	}
}

.showOnPrint {
	@media print {
		display: block !important;
	}
}

.avoidPageBreakInside {
	@media print {
		page-break-inside: avoid !important;
	}
}

.pageBreakBefore {
	@media print {
		page-break-before: always !important;
	}
}
