@import 'variables';
@import 'colors';

@mixin grid($columns, $column-gap: $space-m, $rows, $row-gap: $space-m) {
  display: grid;
  grid-template-columns: $columns;
  grid-column-gap: $column-gap;
  grid-template-rows: $rows;
  grid-row-gap: $row-gap;
}

@mixin flex(
  $flex-flow,
  $justify-content: center,
  $align-content: center,
  $align-items: center
) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-content: $align-content;
  align-items: $align-items;
}

@mixin linearGradientBG(
  $color1,
  $color1-threshold,
  $color2,
  $color2-threshold,
  $dir
) {
  background: $color1;
  background: linear-gradient(
    $dir,
    $color1 $color1-threshold,
    $color2 $color2-threshold
  );
}

@mixin radialGradientBG(
  $color1,
  $color1-threshold,
  $color2,
  $color2-threshold,
  $dir
) {
  background: $color1;
  background: radial-gradient(
    $dir,
    $color1 $color1-threshold,
    $color2 $color2-threshold
  );
}

@mixin progressBar($skillLevel) {
  background: transparent;
  background: linear-gradient(
    90deg,
    $dark-color 0%,
    $mid1-color $skillLevel,
    rgba(255, 255, 255, 0) $skillLevel,
    rgba(255, 255, 255, 0) 100%
  );
}

@mixin columns($column-count, $column-gap, $column-rule) {
  column-count: $column-count;
  column-gap: $column-gap;
  column-rule: $column-rule;
}

@mixin mobileTableScroll() {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: auto;
}

@mixin sticky($z-index) {
  @include boxShadow--tight();
  background: $stickyHeader-color;
  display: block;
  width: 100%;
  position: sticky;
  top: $header-height;
  z-index: $z-index;
}

// Shadows
@mixin boxShadow(
  $color: #000,
  $x: 0px,
  $y: 1px,
  $blurFac: 2,
  $exp: 1,
  $transp: 0.95
) {
  $transpColor: transparentize($color, $transp);

  $x-1: calc((#{$x} * #{$exp}) * 1);
  $y-1: calc((#{$y} * #{$exp}) * 1);
  $blur-1: calc((((#{$y-1} * #{$blurFac})) * #{$exp}) * 1);

  $x-2: calc((#{$x} * #{$exp}) * 2);
  $y-2: calc((#{$y} * #{$exp}) * 2);
  $blur-2: calc((((#{$y-2} * #{$blurFac})) * #{$exp}) * 2);

  $x-3: calc((#{$x} * #{$exp}) * 3);
  $y-3: calc((#{$y} * #{$exp}) * 3);
  $blur-3: calc((((#{$y-3} * #{$blurFac})) * #{$exp}) * 3);

  $x-4: calc((#{$x} * #{$exp}) * 4);
  $y-4: calc((#{$y} * #{$exp}) * 4);
  $blur-4: calc((((#{$y-4} * #{$blurFac})) * #{$exp}) * 4);

  $x-5: calc((#{$x} * #{$exp}) * 5);
  $y-5: calc((#{$y} * #{$exp}) * 5);
  $blur-5: calc((((#{$y-5} * #{$blurFac})) * #{$exp}) * 5);

  $x-6: calc((#{$x} * #{$exp}) * 6);
  $y-6: calc((#{$y} * #{$exp}) * 6);
  $blur-6: calc((((#{$y-6} * #{$blurFac})) * #{$exp}) * 6);

  box-shadow: $x-1 $y-1 $blur-1 $transpColor,
    $x-1 $y-2 $blur-2 $transpColor, $x-1 $y-3 $blur-3 $transpColor,
    $x-1 $y-4 $blur-4 $transpColor, $x-1 $y-5 $blur-5 $transpColor,
    $x-1 $y-6 $blur-6 $transpColor;
}
