@charset "UTF-8";
@import 'variables';
@import 'uni-space';

@keyframes speechBubble {
  from {
    border-radius: 25% 75% 36% 64% / 65% 37% 63% 35%;
  }
  to {
    border-radius: 52% 48% 49% 51% / 60% 54% 46% 40%;
  }
}

@keyframes breedingEgg {
  0% {
    transform: translateY(0);
  }
  50% {
    @include boxShadow($y: $space-m);
    transform: translateY(calc(#{$space-m} * -1));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
